<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted"> <a href="#">How we rate</a> | <a href="#">Privacy</a> | <a href="#">Imprint</a> | <a href="#">Contact</a></span>
    </div>
</footer>