<div class="nav-wrapper">
    <nav>
        <input type="checkbox" id="show-navbar" style="display: none;">
        <label for="show-navbar" class="menu-icon"><i class="fas fa-bars"></i></label>
        <div class="nav-content">
            <div class="logo"><a href="/ratings">TestERLI</a></div>
            <ul class="links">
                <li><a href="/ratings">Ratings</a></li>
                <li><a href="/ratings/about">About</a></li>
                <li><a href="/ratings/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>